In [1]:
import pickle
import pandas as pd
import numpy as np
import requests
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
result = pickle.load(open('movies.pkl', 'rb'))

In [3]:
result.count()

tmdbId          5851
title           5851
genre           5851
overview        5851
release_date    5851
vote_average    5851
vote_count      5851
movieId         5851
imdbId          5851
dtype: int64

In [4]:
result.isnull().sum()

tmdbId          0
title           0
genre           0
overview        0
release_date    0
vote_average    0
vote_count      0
movieId         0
imdbId          0
dtype: int64

In [5]:
result.head(10)

,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime",Framed in the 1940s for the double murder of h...,1994-09-23,8.7,21862,318.0,111161.0
1,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.7,16280,858.0,68646.0
2,424,Schindler's List,"Drama, History, War",The true story of how businessman Oskar Schind...,1993-12-15,8.6,12959,527.0,108052.0
3,240,The Godfather: Part II,"Drama, Crime",In the continuing saga of the Corleone crime f...,1974-12-20,8.6,9811,1221.0,71562.0
4,129,Spirited Away,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",2001-07-20,8.5,13093,5618.0,245429.0
5,372058,Your Name.,"Romance, Animation, Drama",High schoolers Mitsuha and Taki are complete s...,2016-08-26,8.5,8895,163134.0,5311514.0
6,389,12 Angry Men,Drama,The defense and the prosecution have rested an...,1957-04-10,8.5,6533,1203.0,50083.0
7,497,The Green Mile,"Fantasy, Drama, Crime",A supernatural tale set on death row in a Sout...,1999-12-10,8.5,14162,3147.0,120689.0
8,155,The Dark Knight,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...,2008-07-14,8.5,27925,58559.0,468569.0
9,429,"The Good, the Bad and the Ugly",Western,While the Civil War rages between the Union an...,1966-12-23,8.5,6747,1201.0,60196.0

In [6]:
similarity_rs = pickle.load(open('similarity.pkl','rb'))

In [7]:
result["tmdbId"]

0          278
1          238
2          424
3          240
4          129
         ...
5846    297596
5847     10196
5848    331446
5849     13995
5850      2312
Name: tmdbId, Length: 5851, dtype: int64

In [8]:
similarity_rs

array([[1.        , 0.01991024, 0.00970764, ..., 0.        , 0.0605234 ,
        0.03270394],
       [0.01991024, 1.        , 0.0106358 , ..., 0.01291344, 0.01052524,
        0.01948909],
       [0.00970764, 0.0106358 , 1.        , ..., 0.01246508, 0.08142744,
        0.00457762],
       ...,
       [0.        , 0.01291344, 0.01246508, ..., 1.        , 0.02338756,
        0.02043552],
       [0.0605234 , 0.01052524, 0.08142744, ..., 0.02338756, 1.        ,
        0.00487906],
       [0.03270394, 0.01948909, 0.00457762, ..., 0.02043552, 0.00487906,
        1.        ]])

In [9]:
rating_data = pd.read_csv('dataset/ml-latest-small/ratings.csv')

In [10]:
rating_data

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [11]:
rating_data[rating_data["userId"]==2]

     userId  movieId  rating   timestamp
232       2      318     3.0  1445714835
233       2      333     4.0  1445715029
234       2     1704     4.5  1445715228
235       2     3578     4.0  1445714885
236       2     6874     4.0  1445714952
237       2     8798     3.5  1445714960
238       2    46970     4.0  1445715013
239       2    48516     4.0  1445715064
240       2    58559     4.5  1445715141
241       2    60756     5.0  1445714980
242       2    68157     4.5  1445715154
243       2    71535     3.0  1445714974
244       2    74458     4.0  1445714926
245       2    77455     3.0  1445714941
246       2    79132     4.0  1445714841
247       2    80489     4.5  1445715340
248       2    80906     5.0  1445715172
249       2    86345     4.0  1445715166
250       2    89774     5.0  1445715189
251       2    91529     3.5  1445714891
252       2    91658     2.5  1445714938
253       2    99114     3.5  1445714874
254       2   106782     5.0  1445714966
255       2   109487     3.0  1445715145
256       2   112552     4.0  1445714882
257       2   114060     2.0  1445715276
258       2   115713     3.5  1445714854
259       2   122882     5.0  1445715272
260       2   131724     5.0  1445714851

In [12]:
rating_data[rating_data["userId"]==5]

     userId  movieId  rating  timestamp
516       5        1     4.0  847434962
517       5       21     4.0  847435238
518       5       34     4.0  847434881
519       5       36     4.0  847435292
520       5       39     3.0  847434961
521       5       50     4.0  847434881
522       5       58     5.0  847435238
523       5      110     4.0  847434880
524       5      150     3.0  847434748
525       5      153     3.0  847434802
526       5      232     4.0  847435292
527       5      247     5.0  847435337
528       5      253     3.0  847435292
529       5      261     4.0  847435238
530       5      265     3.0  847435129
531       5      266     1.0  847435311
532       5      290     5.0  847435311
533       5      296     5.0  847434748
534       5      300     3.0  847435337
535       5      316     2.0  847434832
536       5      318     3.0  847434880
537       5      344     3.0  847434802
538       5      349     3.0  847434832
539       5      357     2.0  847435238
540       5      364     3.0  847434882
541       5      367     4.0  847435129
542       5      380     2.0  847434748
543       5      410     3.0  847435292
544       5      457     4.0  847434801
545       5      474     4.0  847435337
546       5      475     5.0  847435311
547       5      515     3.0  847435129
548       5      527     5.0  847434960
549       5      531     4.0  847435258
550       5      534     3.0  847435311
551       5      588     4.0  847434801
552       5      589     3.0  847435258
553       5      590     5.0  847434747
554       5      592     3.0  847434747
555       5      594     5.0  847435238
556       5      595     5.0  847434832
557       5      596     5.0  847435292
558       5      597     3.0  847434962
559       5      608     3.0  847435258

In [13]:
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [14]:
len(rating_data.movieId.unique())

9724

In [15]:
len(rating_data.userId.unique())

610

In [16]:
result_for_rating = result[["tmdbId","movieId","title"]].copy()

In [17]:
result_for_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tmdbId   5851 non-null   int64
 1   movieId  5851 non-null   float64
 2   title    5851 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 137.3+ KB

In [18]:
result_for_rating.head(10)

   tmdbId   movieId                           title
0     278     318.0        The Shawshank Redemption
1     238     858.0                   The Godfather
2     424     527.0                Schindler's List
3     240    1221.0          The Godfather: Part II
4     129    5618.0                   Spirited Away
5  372058  163134.0                      Your Name.
6     389    1203.0                    12 Angry Men
7     497    3147.0                  The Green Mile
8     155   58559.0                 The Dark Knight
9     429    1201.0  The Good, the Bad and the Ugly

In [19]:
movies_data_for_rating = pd.merge(result_for_rating, rating_data, on="movieId", how="left")

In [20]:
movies_data_for_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91959 entries, 0 to 91958
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tmdbId     91959 non-null  int64
 1   movieId    91959 non-null  float64
 2   title      91959 non-null  object
 3   userId     91954 non-null  float64
 4   rating     91954 non-null  float64
 5   timestamp  91954 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 4.2+ MB

In [21]:
movies_data_for_rating.isnull().sum()

tmdbId       0
movieId      0
title        0
userId       5
rating       5
timestamp    5
dtype: int64

In [22]:
movies_data_for_rating.dropna(subset=['userId'], inplace=True)

In [23]:
movies_data_for_rating = movies_data_for_rating.reset_index()

In [24]:
movies_data_for_rating = movies_data_for_rating.drop(columns=["index","timestamp"])

In [25]:
movies_data_for_rating['userId']

0          2.0
1          5.0
2          6.0
3          8.0
4         11.0
         ...
91949     50.0
91950    448.0
91951    382.0
91952    599.0
91953    232.0
Name: userId, Length: 91954, dtype: float64

In [26]:
movies_data_for_rating.head()

   tmdbId  movieId                     title  userId  rating
0     278    318.0  The Shawshank Redemption     2.0     3.0
1     278    318.0  The Shawshank Redemption     5.0     3.0
2     278    318.0  The Shawshank Redemption     6.0     5.0
3     278    318.0  The Shawshank Redemption     8.0     5.0
4     278    318.0  The Shawshank Redemption    11.0     4.0

In [27]:
movies_data_for_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91954 entries, 0 to 91953
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tmdbId   91954 non-null  int64
 1   movieId  91954 non-null  float64
 2   title    91954 non-null  object
 3   userId   91954 non-null  float64
 4   rating   91954 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 3.5+ MB

In [28]:
len(movies_data_for_rating.title.unique())

5685

In [29]:
len(movies_data_for_rating.userId.unique())

610

In [30]:
movies_data_for_rating

,tmdbId,movieId,title,userId,rating
0,278,318.0,The Shawshank Redemption,2.0,3.0
1,278,318.0,The Shawshank Redemption,5.0,3.0
2,278,318.0,The Shawshank Redemption,6.0,5.0
3,278,318.0,The Shawshank Redemption,8.0,5.0
4,278,318.0,The Shawshank Redemption,11.0,4.0
...,...,...,...,...,...
91949,331446,136305.0,Sharknado 3: Oh Hell No!,50.0,1.0
91950,331446,136305.0,Sharknado 3: Oh Hell No!,448.0,1.0
91951,13995,26764.0,Captain America,382.0,0.5
91952,13995,26764.0,Captain America,599.0,2.0
91953,2312,57326.0,In the Name of the King: A Dungeon Siege Tale,232.0,0.5

In [31]:
pickle.dump(movies_data_for_rating, open('movies_ratings.pkl', 'wb'))

In [32]:
ratings = pickle.load(open('movies_ratings.pkl','rb'))

In [33]:
result.head()

,tmdbId,title,genre,overview,release_date,vote_average,vote_count,movieId,imdbId
0,278,The Shawshank Redemption,"Drama, Crime",Framed in the 1940s for the double murder of h...,1994-09-23,8.7,21862,318.0,111161.0
1,238,The Godfather,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.7,16280,858.0,68646.0
2,424,Schindler's List,"Drama, History, War",The true story of how businessman Oskar Schind...,1993-12-15,8.6,12959,527.0,108052.0
3,240,The Godfather: Part II,"Drama, Crime",In the continuing saga of the Corleone crime f...,1974-12-20,8.6,9811,1221.0,71562.0
4,129,Spirited Away,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",2001-07-20,8.5,13093,5618.0,245429.0

In [34]:
result.isnull().sum()

tmdbId          0
title           0
genre           0
overview        0
release_date    0
vote_average    0
vote_count      0
movieId         0
imdbId          0
dtype: int64

In [35]:
result[result["tmdbId"]==278].index[0]

0

In [36]:
ratings

,tmdbId,movieId,title,userId,rating
0,278,318.0,The Shawshank Redemption,2.0,3.0
1,278,318.0,The Shawshank Redemption,5.0,3.0
2,278,318.0,The Shawshank Redemption,6.0,5.0
3,278,318.0,The Shawshank Redemption,8.0,5.0
4,278,318.0,The Shawshank Redemption,11.0,4.0
...,...,...,...,...,...
91949,331446,136305.0,Sharknado 3: Oh Hell No!,50.0,1.0
91950,331446,136305.0,Sharknado 3: Oh Hell No!,448.0,1.0
91951,13995,26764.0,Captain America,382.0,0.5
91952,13995,26764.0,Captain America,599.0,2.0
91953,2312,57326.0,In the Name of the King: A Dungeon Siege Tale,232.0,0.5

In [37]:
ratings[ratings["rating"]==5]

       tmdbId  movieId                      title  userId  rating
2         278    318.0   The Shawshank Redemption     6.0     5.0
3         278    318.0   The Shawshank Redemption     8.0     5.0
6         278    318.0   The Shawshank Redemption    15.0     5.0
8         278    318.0   The Shawshank Redemption    17.0     5.0
9         278    318.0   The Shawshank Redemption    18.0     5.0
...       ...      ...                        ...     ...     ...
91561    9405   1497.0                Double Team   594.0     5.0
91755    3177  27704.0  Battle Royale II: Requiem   419.0     5.0
91847    9306    880.0   The Island of Dr. Moreau    53.0     5.0
91858    9306    880.0   The Island of Dr. Moreau   313.0     5.0
91919    5550    519.0                  RoboCop 3    43.0     5.0

[12396 rows x 5 columns]

In [38]:
n_users = int(np.max(ratings["userId"]))
items = ratings["tmdbId"].unique()
n_items = int(np.max(ratings["tmdbId"]))

In [39]:
#UU
users = ratings["userId"]
ratings_copy = ratings.copy()
mu = np.zeros((n_users,))
for n in range(n_users):
    ids = np.where(users == n+1)[0]
    item_ids = ratings["tmdbId"].iloc[ids]
    ratings_for_mean = ratings["rating"].iloc[ids]
    m = np.mean(ratings_for_mean)
    if np.isnan(m):
        m = 0  # để tránh mảng trống và NaN value
    mu[n] = m
    # chuẩn hóa
    ratings_copy.loc[ids,"rating"] = ratings_for_mean - mu[n]
ratings_matrix = sparse.coo_matrix((ratings_copy["rating"],
                                (ratings_copy["tmdbId"]-1, ratings_copy["userId"]-1)), shape=(n_items, n_users))
ratings_matrix = ratings_matrix.tocsr()
ratings_similar_uuCB = cosine_similarity(ratings_matrix.T,ratings_matrix.T)
ratings_similar_uuCB

array([[ 1.        ,  0.00260842,  0.02400436, ...,  0.0831835 ,
        -0.02811377,  0.01056375],
       [ 0.00260842,  1.        ,  0.        , ..., -0.00442231,
        -0.0691926 ,  0.03445089],
       [ 0.02400436,  0.        ,  1.        , ..., -0.01542553,
         0.        ,  0.01742464],
       ...,
       [ 0.0831835 , -0.00442231, -0.01542553, ...,  1.        ,
         0.05049763,  0.05662199],
       [-0.02811377, -0.0691926 ,  0.        , ...,  0.05049763,
         1.        , -0.018313  ],
       [ 0.01056375,  0.03445089,  0.01742464, ...,  0.05662199,
        -0.018313  ,  1.        ]])

In [40]:
print(ratings_matrix)

  (4, 43)	0.6585365853658538
  (4, 65)	-0.051118210862619584
  (4, 67)	-1.2242990654205608
  (4, 94)	-0.5796178343949041
  (4, 102)	1.0826558265582658
  (4, 108)	-0.25
  (4, 178)	0.1846153846153844
  (4, 181)	1.4976525821596245
  (4, 255)	1.0617647058823527
  (4, 294)	-0.24390243902439046
  (4, 306)	0.22684085510688856
  (4, 317)	-0.7055476529160738
  (4, 379)	0.30706287683031874
  (4, 413)	-0.4615915363385463
  (4, 482)	0.37358757062146886
  (4, 488)	-1.0240770465489568
  (4, 500)	1.7619047619047619
  (4, 520)	0.3783783783783785
  (4, 598)	0.25195822454308114
  (4, 605)	0.34416299559471364
  (5, 50)	-1.787461773700306
  (5, 216)	0.17799999999999994
  (5, 243)	-1.7241379310344827
  (5, 413)	-1.4615915363385463
  (10, 0)	0.6261261261261257
  :	:
  (429732, 566)	-1.2315068493150685
  (431529, 110)	0.19965277777777768
  (431818, 183)	-1.6367924528301887
  (433309, 110)	0.19965277777777768
  (433309, 248)	-0.21736997055937213
  (437556, 513)	-0.4525862068965516
  (444704, 110)	0.6996527777777777
  (445029, 183)	-0.1367924528301887
  (445570, 61)	-0.06944444444444464
  (445650, 49)	0.7480314960629921
  (446353, 183)	0.8632075471698113
  (446353, 413)	0.5384084636614537
  (447331, 208)	-2.742857142857143
  (447331, 248)	0.7826300294406279
  (447331, 337)	-2.1551724137931036
  (447331, 513)	0.5474137931034484
  (449175, 595)	0.5119047619047619
  (455979, 513)	0.5474137931034484
  (456749, 248)	-0.7173699705593721
  (458422, 211)	0.9081632653061225
  (458736, 461)	0.7204610951008648
  (475758, 598)	0.7519582245430811
  (483183, 317)	-0.2055476529160738
  (487557, 461)	-0.7795389048991352
  (500474, 317)	-1.2055476529160738

In [41]:
sorted(list(enumerate(ratings_similar_uuCB[0])), reverse=True, key=lambda vector:vector[1])

[(0, 1.0000000000000027),
 (300, 0.12761127874159686),
 (476, 0.10964862302896043),
 (596, 0.10847966225040778),
 (413, 0.10680001118903001),
 (56, 0.10652061454809936),
 (534, 0.10421285069935955),
 (368, 0.10115099794108372),
 (134, 0.09973932151304764),
 (205, 0.09930084395717076),
 (589, 0.09818647413455946),
 (18, 0.0971105470175024),
 (417, 0.09630406621934036),
 (225, 0.09508354880921253),
 (119, 0.09442747385449293),
 (74, 0.09416760240070074),
 (197, 0.09327491572994903),
 (159, 0.09288490802463811),
 (576, 0.09253747045504483),
 (468, 0.09028564252137239),
 (357, 0.09015720869398682),
 (311, 0.08926737106143888),
 (265, 0.08912882628769442),
 (44, 0.08811694541238918),
 (483, 0.08716170713661138),
 (43, 0.0864339291700706),
 (170, 0.08513721910499578),
 (592, 0.08446063459080788),
 (71, 0.0843468967693467),
 (296, 0.08408572066163723),
 (607, 0.0831834962100113),
 (449, 0.08261563277568762),
 (198, 0.0824148108399364),
 (482, 0.0820986217945365),
 (551, 0.08025889018361822),
 (200, 0.07998951863344743),
 (448, 0.07968109088739098),
 (512, 0.07960286035477775),
 (433, 0.07928023937616785),
 (386, 0.07675933168449312),
 (115, 0.07615217316236296),
 (493, 0.07481802785065361),
 (599, 0.07375466519977912),
 (367, 0.0736790841568565),
 (554, 0.07363109455558266),
 (306, 0.07242047242807731),
 (209, 0.07235469865078191),
 (172, 0.0712304974877955),
 (19, 0.07044114702387667),
 (447, 0.07040662937678673),
 (523, 0.06958712362199038),
 (114, 0.06876122670449335),
 (444, 0.06836190974668825),
 (479, 0.06815548105095436),
 (179, 0.06808734276479673),
 (398, 0.06735703226578675),
 (177, 0.0673198690245665),
 (301, 0.06703156406455124),
 (75, 0.06537915311813197),
 (262, 0.06485448632535144),
 (287, 0.06476555070844622),
 (12, 0.06442854348909349),
 (62, 0.06342789658682903),
 (390, 0.06307147268930006),
 (343, 0.06305892970827734),
 (463, 0.06284971459031495),
 (327, 0.0628370136632875),
 (63, 0.06101785151783475),
 (214, 0.05966759239437744),
 (560, 0.059240007837972716),
 (598, 0.0571699155697166),
 (238, 0.05658757237888545),
 (218, 0.05626254576495525),
 (164, 0.055948242303821435),
 (121, 0.05544011385500701),
 (89, 0.05478129618587083),
 (321, 0.05449935489161229),
 (393, 0.053513943491731795),
 (487, 0.05309396928900606),
 (3, 0.053040261426921385),
 (181, 0.05268730586236786),
 (123, 0.05245696649423629),
 (248, 0.05215817762913515),
 (26, 0.05173660399778202),
 (606, 0.05146751556826947),
 (478, 0.05138360992919656),
 (384, 0.05117530113968089),
 (331, 0.05094632730749115),
 (253, 0.05051777661582508),
 (199, 0.050255690486148766),
 (111, 0.04997089505155832),
 (156, 0.04983619262066158),
 (571, 0.04859178546011276),
 (475, 0.04850548989263476),
 (313, 0.04845187000612668),
 (291, 0.0483763303133528),
 (125, 0.048061780889831165),
 (7, 0.04784612798793274),
 (48, 0.04781643903065708),
 (267, 0.04747622278012188),
 (466, 0.047445612174829996),
 (186, 0.04735356094017136),
 (329, 0.047257908091549124),
 (132, 0.0472564496172142),
 (374, 0.04719720186819729),
 (472, 0.04573756759368393),
 (166, 0.04545587502997026),
 (17, 0.0454428794510829),
 (61, 0.04540773139428852),
 (76, 0.04504214740657901),
 (145, 0.04485042389542624),
 (175, 0.04484887945164913),
 (161, 0.04432748535983452),
 (414, 0.04418994389771075),
 (539, 0.043997999018071776),
 (31, 0.04379342279332146),
 (167, 0.04367491494135428),
 (298, 0.04342126967931478),
 (322, 0.043379178723105094),
 (497, 0.042915822401417086),
 (46, 0.0429091474003973),
 (427, 0.04287993346988095),
 (302, 0.04262463431599551),
 (171, 0.042602498429319874),
 (511, 0.04245410679835071),
 (510, 0.04216594424606531),
 (264, 0.041714215044236),
 (206, 0.04143721234675675),
 (168, 0.04130622852804987),
 (573, 0.04122178371332081),
 (515, 0.040654841659132156),
 (590, 0.040526321364464435),
 (315, 0.040502392500447626),
 (135, 0.040423921852768704),
 (509, 0.04020395104440663),
 (400, 0.039898899154680784),
 (434, 0.03952187690101062),
 (325, 0.03940138070591994),
 (235, 0.03922501799813879),
 (569, 0.03903684161452504),
 (219, 0.03894951537978967),
 (473, 0.038703641744819293),
 (595, 0.03830944992141835),
 (57, 0.037787809888754846),
 (14, 0.03728769983469577),
 (441, 0.03718228617674714),
 (208, 0.037152303862357995),
 (184, 0.037141306530045694),
 (16, 0.037112186303030315),
 (94, 0.036956625344744344),
 (354, 0.03692268531468488),
 (594, 0.03672441221037009),
 (221, 0.03655961200161561),
 (243, 0.03626971219191299),
 (370, 0.03624820562437475),
 (450, 0.036145212593142975),
 (452, 0.0356676338643563),
 (143, 0.0355639223548047),
 (277, 0.03518460741038417),
 (41, 0.03514186846741617),
 (297, 0.03513672514115989),
 (507, 0.034982046667159934),
 (286, 0.03434333767636797),
 (350, 0.03419449104014825),
 (303, 0.03406634127571302),
 (213, 0.03399612880356412),
 (420, 0.03327414180904581),
 (176, 0.03304431258806759),
 (98, 0.032502542197164704),
 (233, 0.03237853079702116),
 (351, 0.03235388650056208),
 (247, 0.03232679625766227),
 (429, 0.03199711309909144),
 (504, 0.030826557941828057),
 (488, 0.0308192291032851),
 (513, 0.030518644223057823),
 (349, 0.030513928279084685),
 (211, 0.030093944472886897),
 (54, 0.029481776482035017),
 (338, 0.02931467230498801),
 (530, 0.02915809808894288),
 (162, 0.0291550497496254),
 (365, 0.029131833318805245),
 (232, 0.029016034507141034),
 (419, 0.02877402148683268),
 (210, 0.028639662631630508),
 (95, 0.028408512489299098),
 (335, 0.028314488496680272),
 (203, 0.02828210617480894),
 (254, 0.02805201853757555),
 (35, 0.02803450492401373),
 (326, 0.027941679400675407),
 (525, 0.0279413439542898),
 (456, 0.027677078393575374),
 (541, 0.02763537920347241),
 (68, 0.02729095570914359),
 (378, 0.027114661361541066),
 (154, 0.027003252639640582),
 (124, 0.026844742664804938),
 (122, 0.025972006468461137),
 (431, 0.02587218008568338),
 (347, 0.025550251099464516),
 (165, 0.025453883718678457),
 (486, 0.025399550898075808),
 (391, 0.025242632507261525),
 (65, 0.025210457501556944),
 (215, 0.025049978756832895),
 (380, 0.024939769188519676),
 (257, 0.024620405614092972),
 (207, 0.024407677530137645),
 (34, 0.02427862862471001),
 (332, 0.024046327687011156),
 (144, 0.024029992539104324),
 (2, 0.024004364295517173),
 (64, 0.023904473299827967),
 (266, 0.023741892753782187),
 (285, 0.02358343235810081),
 (77, 0.023539343945104787),
 (356, 0.02342933578298636),
 (90, 0.023339678452029763),
 (430, 0.023271824323517185),
 (126, 0.023254530276891602),
 (411, 0.02325414561021472),
 (312, 0.023194551289594065),
 (201, 0.02301161229854956),
 (492, 0.02282194483073556),
 (138, 0.022671494063854176),
 (109, 0.02260468433511381),
 (13, 0.02249962902983749),
 (299, 0.02218941816541194),
 (494, 0.022113230155998427),
 (457, 0.022088333420202264),
 (231, 0.02201572384069498),
 (4, 0.02193412322284887),
 (99, 0.021931176339610326),
 (100, 0.021909926330437215),
 (506, 0.021858879842589125),
 (85, 0.021300614675249477),
 (42, 0.02115228828539307),
 (579, 0.02102897382880186),
 (8, 0.020851819085402633),
 (246, 0.020754412452504544),
 (116, 0.020724255257156293),
 (281, 0.020552137952547303),
 (110, 0.020500675543936905),
 (245, 0.0204281363846745),
 (106, 0.020267575252321347),
 (397, 0.019888055061059194),
 (355, 0.019872828525890764),
 (516, 0.01974410511644486),
 (58, 0.019395657581148716),
 (379, 0.018722107805507423),
 (600, 0.01868771312722248),
 (435, 0.018639590497908268),
 (129, 0.018630848409104783),
 (136, 0.018415789242522143),
 (60, 0.0183431422772257),
 (501, 0.018338641766205),
 (295, 0.0179320877495297),
 (112, 0.017871599699313477),
 (261, 0.01780729306430184),
 (55, 0.0172938842955565),
 (498, 0.017224566713499756),
 (82, 0.017210203510456434),
 (113, 0.017202975420138968),
 (502, 0.017182382469867207),
 (399, 0.016784399897266353),
 (418, 0.016719785082906457),
 (169, 0.01664587241130317),
 (153, 0.016567258428118774),
 (102, 0.01650489206351006),
 (477, 0.01648400832884712),
 (407, 0.0162608188272055),
 (222, 0.01620836792948252),
 (195, 0.016141568611683497),
 (446, 0.016088865265058986),
 (421, 0.016075576911655894),
 (557, 0.016028425261062226),
 (59, 0.015979111061280506),
 (273, 0.015896429183404906),
 (524, 0.01572586543629627),
 (304, 0.015670053588199354),
 (480, 0.015476394247553989),
 (424, 0.015443733974295661),
 (359, 0.01543080071697633),
 (318, 0.015358708895863046),
 (323, 0.015289559255852389),
 (559, 0.015194559196029914),
 (79, 0.014789212683433636),
 (131, 0.014678610188648564),
 (471, 0.014669585339822076),
 (309, 0.014541523250670273),
 (521, 0.014518828572464986),
 (572, 0.014486868593624747),
 (274, 0.014052926703333489),
 (342, 0.013840829551540906),
 (32, 0.01381669919459976),
 (260, 0.013770490794019902),
 (11, 0.013671628626730206),
 (549, 0.013643419086257366),
 (489, 0.013514735041649444),
 (20, 0.013464409465355657),
 (275, 0.013428665252460077),
 (191, 0.013344402065003804),
 (158, 0.013252518773448041),
 (409, 0.01324755556609493),
 (220, 0.013027054512268599),
 (81, 0.012897696118256575),
 (529, 0.012079592661084312),
 (605, 0.012068601935327087),
 (585, 0.011918260089639518),
 (474, 0.011770820389546813),
 (33, 0.011677385097378954),
 (503, 0.011656278791898147),
 (152, 0.011399711808194699),
 (508, 0.011382089418932062),
 (15, 0.011253763117547281),
 (454, 0.011215934700048943),
 (84, 0.011012800216192376),
 (50, 0.01085067609454817),
 (271, 0.010845543479470554),
 (340, 0.010732299153581735),
 (532, 0.010712357516148303),
 (358, 0.010693753141579755),
 (584, 0.010686006798259826),
 (451, 0.01063014748322879),
 (609, 0.010563754390275949),
 (139, 0.010477909155712273),
 (104, 0.010307334935970993),
 (542, 0.010254528581008955),
 (553, 0.009858486791640059),
 (535, 0.009802099750716033),
 (224, 0.009732365850222668),
 (188, 0.009672057829124756),
 (581, 0.009607800959243533),
 (87, 0.00959322370219405),
 (289, 0.009535909683879512),
 (307, 0.009520647891852328),
 (437, 0.009269567123103178),
 (67, 0.0092467694956569),
 (308, 0.00892448806341346),
 (392, 0.008780165357535234),
 (519, 0.008732626466554903),
 (37, 0.008658704186380883),
 (252, 0.008105630712210793),
 (72, 0.008042492767547227),
 (23, 0.00783676843209158),
 (580, 0.0075030536145676025),
 (107, 0.00743475207292218),
 (269, 0.0073940048153867295),
 (250, 0.007364561093791111),
 (241, 0.007270759326179375),
 (337, 0.007170058409193398),
 (204, 0.007101257548521629),
 (30, 0.0070106990673947074),
 (92, 0.006987305715209613),
 (428, 0.0068276616298457975),
 (259, 0.006809022618526325),
 (522, 0.00658232876882159),
 (117, 0.006384644406246402),
 (151, 0.006227929518236391),
 (381, 0.006013008082277439),
 (408, 0.005995300927929494),
 (236, 0.005706159900847592),
 (385, 0.00563586411538651),
 (567, 0.005600171944453358),
 (562, 0.005514276571244917),
 (406, 0.005158300765450067),
 (140, 0.004904110522014805),
 (597, 0.004882656460547724),
 (438, 0.0046670451589775255),
 (103, 0.004549894249057498),
 (363, 0.004517413122810214),
 (467, 0.004434772163668154),
 (282, 0.004412292161719413),
 (212, 0.00430196757358331),
 (118, 0.004251660647283155),
 (574, 0.004220662301618356),
 (518, 0.00411846897349047),
 (561, 0.0039707075065130715),
 (105, 0.003899158477628514),
 (130, 0.003845711130378543),
 (310, 0.0037433295929908336),
 (364, 0.0035271017518310735),
 (537, 0.003512553109665012),
 (29, 0.0032195266718065925),
 (387, 0.003028632381335756),
 (459, 0.0030042202369376537),
 (514, 0.002645405490973774),
 (1, 0.0026084213823860947),
 (155, 0.0022977592900996803),
 (324, 0.002207601999597405),
 (189, 0.002140433161733764),
 (290, 0.001993416241978048),
 (544, 0.0019535743117759736),
 (330, 0.0017552416883555196),
 (564, 0.0016678498170981174),
 (341, 0.0015956669799320616),
 (353, 0.0015619451540699423),
 (27, 0.0015332023794526076),
 (258, 0.0014712430101796762),
 (334, 0.0012685955163829025),
 (24, 0.001089907401631094),
 (217, 0.0009646460041051125),
 (531, 0.000786568017251031),
 (187, 0.0007758094484303368),
 (255, 0.0007541552342281554),
 (96, 0.0007106093940542658),
 (227, 0.0004889688508343953),
 (496, 0.00012057030015383968),
 (566, 9.531803634912905e-05),
 (52, 0.0),
 (174, 0.0),
 (305, 0.0),
 (396, 0.0),
 (495, 0.0),
 (505, 0.0),
 (555, 0.0),
 (577, 0.0),
 (49, -9.611576764563274e-05),
 (550, -0.00017251646343227362),
 (593, -0.00022419589451927653),
 (395, -0.0002529981720958447),
 (293, -0.00027768281907879016),
 (545, -0.0002934903523329688),
 (575, -0.0003756134846950813),
 (150, -0.000402625516558959),
 (183, -0.0006274094355180367),
 (470, -0.0006417333070346462),
 (137, -0.0008245881436988699),
 (190, -0.000927398265180642),
 (86, -0.0009943296945284508),
 (317, -0.0011064622430598918),
 (192, -0.0011342725489781004),
 (377, -0.0012200168280541877),
 (280, -0.00186022052321054),
 (45, -0.0018636064878927473),
 (533, -0.0018674817617980787),
 (526, -0.002069710441752387),
 (371, -0.0025064639117198984),
 (141, -0.002553553927719501),
 (527, -0.0025614577103173775),
 (442, -0.0027933360526071664),
 (436, -0.0031100956869844795),
 (278, -0.003708954739542995),
 (333, -0.0037760394808442027),
 (546, -0.004569973178736456),
 (405, -0.0046221535526587785),
 (91, -0.004623069506535619),
 (402, -0.004667405199895117),
 (263, -0.004745694940412777),
 (185, -0.0047771671452463615),
 (21, -0.005032490330501186),
 (314, -0.005174406406387008),
 (276, -0.005599026323175823),
 (226, -0.005800055109963735),
 (461, -0.005874099988073176),
 (249, -0.005906644099610145),
 (538, -0.005946387009686522),
 (563, -0.006021001401025097),
 (237, -0.006061665511783744),
 (582, -0.0061957056991977615),
 (69, -0.006519774226721579),
 (73, -0.006630358538477466),
 (376, -0.006903853511127021),
 (142, -0.006968229878823045),
 (28, -0.006977231635001635),
 (180, -0.0070768161991801685),
 (6, -0.007301794034644074),
 (382, -0.0077051574548036945),
 (230, -0.007865571478381267),
 (339, -0.008125999287097176),
 (499, -0.008130490124418518),
 (270, -0.008465350854719677),
 (9, -0.008590641615780187),
 (279, -0.008734288628565326),
 (455, -0.008795081857700154),
 (469, -0.008862121794698842),
 (128, -0.009995359337629045),
 (147, -0.010029278984077964),
 (83, -0.010052057626020273),
 (453, -0.010419027897658879),
 (583, -0.010767949805130803),
 (517, -0.010940641249822629),
 (51, -0.011083160589019293),
 (490, -0.011327904721673686),
 (127, -0.011513953182066447),
 (251, -0.011751385252055635),
 (520, -0.011905927044813282),
 (373, -0.012041588882498223),
 (361, -0.012205527395394229),
 (292, -0.0123481918606353),
 (194, -0.01260232053398741),
 (160, -0.012959502369486852),
 (193, -0.013395887274457008),
 (256, -0.013942537427938193),
 (389, -0.014143881827758059),
 (25, -0.014545995306891926),
 (78, -0.014851314243593768),
 (344, -0.015015205231955535),
 (268, -0.015070319798926646),
 (66, -0.015702458156025296),
 (404, -0.015779222999972767),
 (464, -0.01726110596175137),
 (108, -0.01749349933233725),
 (601, -0.017737970856239387),
 (40, -0.017989437581374477),
 (352, -0.018044006939462648),
 (240, -0.018190893684547897),
 (196, -0.018341907501930044),
 (319, -0.018578937924397698),
 (536, -0.018837858815009448),
 (602, -0.018918431415627025),
 (587, -0.01906832064186167),
 (439, -0.01912472080665513),
 (272, -0.019300709613546983),
 (426, -0.01931838301405169),
 (294, -0.01934065469359722),
 (239, -0.019657505792622255),
 (403, -0.019955391583184143),
 (148, -0.02041076109497234),
 (484, -0.0205550031475119),
 (423, -0.0207073865209149),
 (88, -0.020824843584952558),
 (383, -0.020959436146993488),
 (528, -0.021380301158213086),
 (372, -0.021532399839500362),
 (415, -0.022234680014553407),
 (443, -0.022405684674459792),
 (288, -0.02241331259675218),
 (458, -0.02252251013367034),
 (216, -0.02320265586164307),
 (53, -0.023921588912985264),
 (346, -0.023945842632045966),
 (22, -0.024346729828244568),
 (558, -0.02462606695708467),
 (316, -0.025001232771971724),
 (388, -0.02529425493386904),
 (416, -0.02550847885859436),
 (547, -0.026384697108185466),
 (47, -0.026408840559186103),
 (284, -0.026465189748994655),
 (432, -0.026507719313932282),
 (422, -0.02660728171107464),
 (375, -0.0266434716988062),
 (80, -0.02687895295251555),
 (440, -0.027527623688747366),
 (608, -0.028113774281970542),
 (244, -0.02844034367939088),
 (348, -0.028457240262197474),
 (228, -0.028505008044041803),
 (157, -0.0290257652489384),
 (146, -0.02946036803775009),
 (223, -0.029478562634127348),
 (570, -0.02979735415433244),
 (565, -0.03129785536269465),
 (604, -0.031678884182053536),
 (465, -0.032328235239528665),
 (149, -0.03247248608260899),
 (425, -0.03261197109313053),
 (412, -0.033023353294130094),
 (345, -0.034094909105704896),
 (445, -0.034182131780043035),
 (234, -0.03422294341031853),
 (462, -0.0342496554684493),
 (481, -0.03453242345155172),
 (178, -0.03536780103130311),
 (366, -0.03572608061709709),
 (543, -0.036341708466344665),
 (603, -0.03691674225591558),
 (182, -0.039005892344597975),
 (491, -0.0409207811334295),
 (552, -0.0416179437311101),
 (173, -0.042481092787198124),
 (163, -0.04251081020556916),
 (120, -0.04281109312770827),
 (460, -0.043140273086351995),
 (548, -0.04392651344094052),
 (242, -0.044110652384686325),
 (39, -0.04506834819224042),
 (336, -0.04519988220240484),
 (93, -0.04567149239243766),
 (586, -0.04620408647026364),
 (360, -0.046329072714160376),
 (320, -0.04795743925392677),
 (133, -0.04826184265120179),
 (229, -0.04855925069988484),
 (568, -0.04985252177844256),
 (540, -0.051890903477911754),
 (5, -0.052275920436731134),
 (362, -0.05310922534880311),
 (36, -0.053555991107905085),
 (97, -0.0542988257086867),
 (401, -0.057290932177170614),
 (10, -0.05788466004475857),
 (283, -0.06130177890176575),
 (591, -0.06139802194722105),
 (588, -0.06288258229063973),
 (485, -0.06959840153449597),
 (202, -0.07276650787594041),
 (38, -0.07341142224670683),
 (556, -0.07555614645767982),
 (410, -0.07600043894816144),
 (101, -0.0768784042495817),
 (328, -0.07718882060048676),
 (394, -0.08011432152158104),
 (70, -0.08516025278452674),
 (369, -0.0877518195131903),
 (500, -0.09282137515441014),
 (578, -0.11336271049444022)]

In [42]:
pickle.dump(ratings_similar_uuCB, open('similarity_uuCB_ratings.pkl', 'wb'))
pickle.dump(ratings_matrix, open('ratings_matrix.pkl', 'wb'))

In [43]:
def __pred(u, i, normalized=1):
    ids = np.where(ratings["tmdbId"] == i)[0]
    users_rated_i = ratings['userId'].iloc[ids]
    sim = ratings_similar_uuCB[u-1, users_rated_i-1]
    a = np.argsort(sim)[-2:]
    nearest_s = sim[a]
    r = ratings_matrix[i, users_rated_i[a]]
    if normalized:
        return (r * nearest_s)[0] / (np.abs(nearest_s).sum() + 1e-8)
    return (r * nearest_s)[0] / (np.abs(nearest_s).sum() + 1e-8) + mu[u]

def recommend_top(u):
    ids = np.where(ratings["userId"] == u)[0]
    items_rated_by_u = ratings["tmdbId"].iloc[ids]
    item = {'id': None, 'similar': None}
    list_items = []

    def take_similar(elem):
        return elem['similar']

    for i in items:
        if i not in items_rated_by_u:
            rating = __pred(u, i)
            item['id'] = i
            item['similar'] = rating
            list_items.append(item.copy())

    sorted_items = sorted(list_items, key=take_similar, reverse=True)
    return sorted_items

In [44]:
def fetch_poster(movie_id):
    url = "https://api.themoviedb.org/3/movie/{}?api_key=19b98f78a51a3924b33b555437599b0c&language=en-US".format(movie_id)
    data=requests.get(url)
    data=data.json()
    poster_path = data['poster_path']
    full_path = "https://image.tmdb.org/t/p/w500/"+poster_path
    return full_path
def pred(u, i, normalized=1):
    ids = np.where(ratings["tmdbId"] == i)[0]
    users_rated_i = ratings['userId'].iloc[ids].astype(int)
    sim = ratings_similar_uuCB[u-1, users_rated_i-1]
    a = np.argsort(sim)[-2:]
    nearest_s = sim[a]
    r = ratings_matrix[i-1, users_rated_i.iloc[a]-1]
    # if normalized:
    #     return (r * nearest_s)[0] / (np.abs(nearest_s).sum() + 1e-8)
    return (r * nearest_s)[0] / (np.abs(nearest_s).sum() + 1e-8) + mu[u]

def recommend_top(u):  
    u = int(u)
    items = ratings["tmdbId"].unique()
    itemsName = ratings["title"].unique()
    ids = np.where(ratings["userId"] == u)[0]
    items_rated_by_u = ratings["tmdbId"].iloc[ids]
    item = {'id': None, 'name': None, 'poster': None, 'similar': None}
    list_items = []

    def take_similar(elem):
        return elem['similar']
    count = 0
    for i, n in zip(items, itemsName):
        if count == 24:
            break
        if i not in items_rated_by_u.values:
            rating = pred(u, i)
            item['name'] = n
            item['id'] = i
            item['poster'] = fetch_poster(i)
            item['similar'] = rating
            list_items.append(item.copy())
            count+=1

    sorted_items = sorted(list_items, key=take_similar, reverse=True)
    return sorted_items

test = recommend_top(2)
test[0]['name']

'Grave of the Fireflies'